---
import Layout from "@/layouts/Layout.astro"
import MainTables from "@components/tablas/MainTable.astro"
import SmartPort from '../lib/SmartPort'

let { asport } = Astro.params



const cache = new SmartPort({
	endpoints: []
})
// @ts-ignore
const sports = await cache.getData(`sport`, {ev: "nac", sort: 'name:asc' })
// @ts-ignore
const tables = await cache.getData(asport ? `tableMedals?sport=${asport}` : `tableMedals`, {ev: "nac", sort: 'name:asc' })
// @ts-ignore
const delegations = await cache.getData('users?delegation=true', {ev: "nac", sort: 'name:asc' })

// console.log(sports)

const pageTitle = "Medallero"
---



<Layout
title={`Nacionales Deportivos | ${pageTitle}`}

header={1}
>
  <!-- Section Title -->
  <div class="section-title" style="background:url(img/slide/1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Medallero</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>{pageTitle}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Section Area - Content Central -->
  <section class="content-info">
    <div class="container paddings-mini" style="padding-bottom: 70px !important;">
      <div class="row">

        <!-- Sidebars -->
        <aside class="col-lg-3">

            <div>
                <h4>Buscar deporte</h4>
                <form class="search" action="#" method="Post">
                    <div class="input-group">
                        <input id="search-input" class="form-control" placeholder="Buscar..." name="email"  type="email" required="required">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" name="subscribe" >Go!</button>
                        </span>
                    </div>
                </form>
            </div>

            <!-- Widget Categories-->
            <div class="panel-box">
                <div class="titles no-margin">
                    <h4>Categorías</h4>
                </div>
                <div class="info-panel">
                    <ul class="list list-filter" id="sports-list">
                        <!-- <li class="active"><i class="fa fa-check"></i><a href="#">Design</a></li> -->
                        <!-- <li><i class="fa fa-check"></i><a href="#">Photos</a></li> -->
                        {
                          sports.map((sport:any) => {
                            return (
                              <li class={sport.alias === asport ? 'active' : ''}  aria-label={sport.alias} data-alias={sport.alias} data-name={sport.name}>
                                <i class="fa fa-check"></i>
                                <a href={`/medallas/${sport.alias}`}>{sport.name}</a>
                              </li>
                            )
                          })
                        }

                    </ul>
                </div>
            </div>
            <!-- End Widget Categories-->


        </aside>
        <!-- End Sidebars -->


        <div class="col-lg-9">
          <MainTables tables={tables} delegations={delegations} />
        
        </div>
      </div>

    </div>
    <!-- End Section Area -  Content Central -->
  </section>
  </Layout>